@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    font-family: 'Manrope', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}

.card {
    position: relative;
    background-color: var(--dark-grayish-blue);
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}

.divider {
    width: 100%;
    margin: 1.5rem 0;
}

.advice {
    font-size: .7rem;
    margin-bottom: 1rem;
    color: var(--neon-green);
    font-weight: bolder;
    text-transform:  uppercase;
    letter-spacing: 2px;
}

.text-container {
    color: var(--light-cyan);
    font-weight: bold;
    font-size: 28px;
}

button {
    display: flex;
    background-color: var(--neon-green);
    border: none;
    padding: .7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -8%;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    box-shadow: var(--neon-green) 0px 0px 20px;
}
