@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-blue);
}

.card {
    position: relative;
    background-color: var(--dark-grayish-blue);
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transform: translateY(70%);
}

.divider {
    width: 100%;
    margin: 1.5rem 0;
}

.advice {
    font-size: .7rem;
    margin-bottom: 1rem;
    color: var(--neon-green);
    font-weight: bolder;
    text-transform:  uppercase;
    letter-spacing: 2px;
}

.text-container {
    color: var(--light-cyan);
    font-weight: bold;
    font-size: 28px;
}

.flexGrow {
    flex-grow: 1;
}

button, .updateProfile {
    display: flex;
    background-color: var(--neon-green);
    border: none;
    padding: .7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -8%;
    cursor: pointer;
    transition: box-shadow .2s ease-in-out;
}

button img {
    width: 20px;
    height: 20px;
}

button:hover {
    box-shadow: var(--neon-green) 0px 0px 20px;
}

/* Navbar */

.navbar {
    color: var(--light-cyan);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-grayish-blue);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar h1 a  {
    color: var(--light-cyan);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: color .2s ease-in-out;
}


nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul a {
    text-decoration: none;
    color: var(--neon-green);
}

footer {
    color: var(--light-cyan);
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: var(--dark-grayish-blue);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

footer a {
    text-decoration: none;
    color: var(--neon-green);
}


.cardForm {
    position: relative;
    background-color: var(--dark-grayish-blue);
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    transform: translateY(70%);
}

.cardForm h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--neon-green);
    font-weight: bolder;
    text-transform:  uppercase;
    letter-spacing: 2px;
}

.cardForm label {
    font-size: .8rem;
    margin-bottom: 1rem;
    color: var(--neon-green);
    font-weight: bolder;
    text-transform:  uppercase;
    letter-spacing: 2px;
}

.cardForm input {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--light-cyan);
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--dark-grayish-blue);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--neon-green);
    margin-bottom: .5rem;
}

.header img {
    background-color: var(--dark-blue);
    width: 5rem;
    border-radius: 50%;
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-cyan);
    margin-bottom: .5rem;
}

.formProfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--light-cyan);
    margin-bottom: .5rem;
}

.formProfil input {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--light-cyan);
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--dark-grayish-blue);
}


.formProfil input[type="submit"] {
    margin-top: 1rem;
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--light-cyan);
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--dark-grayish-blue);
}
